include LICENSE.txt
include DEWPython/resources/mineralDictionary.txt
include DEWPython/resources/aqueousLst.txt
include DEWPython/resources/gasLst.txt
include DEWPython/resources/input.csv
include DEWPython/resources/dielectric.csv
include DEWPython/resources/Wat_den.csv
include DEWPython/resources/water_gibbs.csv
include DEWPython/dpronsbl.dat
include DEWPython/resources/SUPCRTBL.exe
include DEWPython/resources/supcrt96.exe
include DEWPython/resources/dpronshp.dat
