include LICENSE.txt
include resources/mineralDictionary.txt
include resources/aqueousLst.txt
include resources/gasLst.txt
include resources/input.csv
include resources/dielectric.csv
include resources/Wat_den.csv
include resources/water_gibbs.csv
